<div class="dashboard">

  <div class="card card-w-title" *ngIf="!pinSrv.getPin()">
    <div class="ui-g pin-container">
      <div class="ui-g-12" style="height: 72px;">
        <span class="pin-text">{{pin}}</span><label class="pin-label">{{pinmsg}}</label>
      </div>
    </div>
    <div class="ui-g pin-key-container">
      <div class="ui-g-4">
        <button pButton type="button" label="1" class="pin-button" (click)="pinKey(1)"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label="2" class="pin-button" (click)="pinKey(2)"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label="3" class="pin-button" (click)="pinKey(3)"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label="4" class="pin-button" (click)="pinKey(4)"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label="5" class="pin-button" (click)="pinKey(5)"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label="6" class="pin-button" (click)="pinKey(6)"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label="7" class="pin-button" (click)="pinKey(7)"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label="8" class="pin-button" (click)="pinKey(8)"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label="9" class="pin-button" (click)="pinKey(9)"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label=" " class="pin-button" icon="ui-icon-check" iconPos="center" (click)="setPin()"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label="0" class="pin-button" (click)="pinKey(0)"></button>
      </div>
      <div class="ui-g-4">
        <button pButton type="button" label="X" class="pin-button" (click)="resetPin()"></button>
      </div>
    </div>
  </div>

  <div class="ui-g" *ngIf="pinSrv.getPin()">
    <div class="ui-g-12 ui-md-6 ui-lg-4" *ngFor="let link of links">
      <div class="ui-g card colorbox colorbox-1" (click)="openLink(link.path)">
        <div class="ui-g-4">
          <i class="material-icons">settings</i>
        </div>
        <div class="ui-g-8">
          <!--span class="colorbox-name"></span-->
          <span class="fullname">{{link.path}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
