<div class="dashboard">

  <div class="card card-w-title" *ngIf="!pinSrv.getPin()">
    <dt-pindialog></dt-pindialog>
  </div>

  <div class="ui-g" *ngIf="pinSrv.getPin()">
    <div class="ui-g-12 ui-md-6 ui-lg-4" *ngFor="let link of links">
      <div class="ui-g card colorbox colorbox-1" (click)="openLink(link.path)">
        <div class="ui-g-4">
          <i class="material-icons">settings</i>
        </div>
        <div class="ui-g-8">
          <!--span class="colorbox-name"></span-->
          <span class="fullname">{{link.path}}</span>
        </div>
      </div>
    </div>
  </div>

</div>
