@charset "UTF-8";

.colorbox .fullname {
  font-size: 1.5em;
  color: #ffffff;
  //font-size: 36px;
  margin-top: 10px;
  line-height: 1;
  display: inline-block;
  text-transform: capitalize;
}

.colorbox .name {
  font-size: 48px;
  color: #ffffff;
  margin-top: 5px;
  line-height: 1;
  display: inline-block;
}

.full_button {
  width: 100%;
}

.float_left {
  float: left;
}
