<h2>Show sensor</h2>

<ul>

  <li>
    <strong>Address:</strong>
    <%= @sensor.address %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @sensor.name %>
  </li>

  <li>
    <strong>Configured:</strong>
    <%= @sensor.configured %>
  </li>

</ul>

<%= link "Edit", to: sensor_path(@conn, :edit, @sensor) %>
<%= link "Back", to: sensor_path(@conn, :index) %>
