<div class="dashboard" *ngIf="!pinSrv.getPin()">
  <div class="card">
    <app-pindialog></app-pindialog>
  </div>
</div>

<div class="dashboard" *ngIf="pinSrv.getPin()">
  <div class="ui-g">

    <div class="ui-g-12" *ngIf="!displayDialog">
      <div class="card card-w-title">
        <p-dataTable [value]="eventlogs" [filterDelay]="500" (onLazyLoad)="getLazy($event)" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords"
          [rows]="sortPage.per_page" [paginator]="false" selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)"
          [responsive]="true">
          <header>Event logs</header>
          <p-column field="type" header="Type" [sortable]="false" [filter]="true" filterPlaceholder="Search"></p-column>
          <p-column field="acked" header="Acked" [sortable]="false"></p-column>
          <p-column field="operation" header="Operation" [sortable]="false"></p-column>
          <p-column field="inserted_at" header="Timestamp" [sortable]="true"></p-column>
          </p-dataTable>
      </div>
    </div>

    <div class="ui-g-12 ui-fluid" *ngIf="displayDialog">

      <div class="card card-w-title">
        <div class="ui-grid ui-grid-responsive ui-grid-forms ui-grid-pad">
          <div class="ui-grid-row">
            <button type="button" pButton icon="ui-icon-arrow-back" (click)="refresh()" label="Event log details"></button>
          </div>
        </div>

        <div class="ui-g form-group">

          <div class="ui-g-6">
            <label for="acType">Type</label>
            <input pInputText id="acType" [disabled]="true" [(ngModel)]="eventlog.type" />
          </div>
          <div class="ui-g-6">
            <label for="acOp">Operation</label>
            <input pInputText id="acOp" [disabled]="true" [(ngModel)]="eventlog.operation" />
          </div>

          <div class="ui-g-12">
            <label for="acTs">Timestamp</label>
            <input pInputText id="acTs" [disabled]="true" [(ngModel)]="eventlog.inserted_at" />
          </div>

          <div class="ui-g-12">
            <h3 class="first">Details</h3>
            <div class="ui-g-12" *ngFor="let detail of eventlogDetails">
              <label>{{detail.detail}}</label>
              <input pInputText [disabled]="true" [(ngModel)]="detail.value" />
            </div>
          </div>

          <div class="ui-g-12" *ngIf="!eventlog.acked">
            <button type="button" pButton icon="ui-icon-check" (click)="ackEvent(eventlog)" label="Ack" class="full_button green-btn"></button>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
