<div class="dashboard" *ngIf="!pinSrv.getPin()">
  <div class="card">
    <app-pindialog></app-pindialog>
  </div>
</div>

<div class="dashboard" *ngIf="pinSrv.getPin()">
  <div class="ui-g">

    <div class="ui-g-12" *ngIf="!displayDialog">
      <div class="card card-w-title">
        <p-dataTable [value]="eventlogs" (onLazyLoad)="getLazy($event)" [lazy]="true" [paginator]="true" [totalRecords]="totalRecords"
          [rows]="sortPage.per_page" [paginator]="false" selectionMode="single" [(selection)]="selected" (onRowSelect)="onRowSelect($event)"
          [responsive]="true">
          <header>Event logs</header>
          <p-column field="type" header="Type" [sortable]="false" [filter]="true" filterPlaceholder="Search"></p-column>
          <p-column field="acked" header="Acked" [sortable]="false"></p-column>
          <p-column field="operation" header="Operation" [sortable]="false"></p-column>
          <p-column field="inserted_at" header="Timestamp" [sortable]="true"></p-column>
          </p-dataTable>
      </div>
    </div>

  </div>
</div>
