env:
        - REBAR_DEPS_DIR=$TRAVIS_BUILD_DIR/deps

sudo: false

language: elixir

elixir:
        - 1.2.6
        - 1.3.2

otp_release:
        - 18.3
        - 19.0

addons:
  postgresql: "9.4"

before_install:
        - . $HOME/.nvm/nvm.sh
        - nvm install 4
        - npm --version
          #- export CHROME_BIN=chromium-browser
          #- export DISPLAY=:99.0
          #before_script:
          #- sh -e /etc/init.d/xvfb start
          #- sleep 1  # give server time to start

after_script:
          - cat /home/travis/build/xadhoom/detectino-core/apps/dt_web/webapp/npm-debug.log

cache:
        directories:
                - apps/dt_web/webapp/node_modules
                - deps
                - _build

script:
        - "pushd apps/dt_web/webapp; npm install; npm run build; npm run test; popd"
        - "mix deps.get && mix deps.compile && mix coveralls.travis --umbrella"
