<div class="Container100">
  <div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-grid-row" *ngFor="let item of items; let idx=index">

      <div class="ui-grid-col-1"><label class="ui-outputlabel" for="dropdown">Partition</label></div>
      <div class="ui-grid-col-4">
        <p-dropdown [(ngModel)]="item.partition_id" (onChange)="onPartitionChange($event, idx)" [options]="partitions" [autoWidth]="false">
        </p-dropdown>
      </div>

      <div class="ui-grid-col-1"><label class="ui-outputlabel" for="dropdown">Mode</label></div>
      <div class="ui-grid-col-4">
        <p-dropdown [(ngModel)]="item.mode" (onChange)="onModeChange($event, idx)" [options]="modes" [autoWidth]="false">
        </p-dropdown>
      </div>

      <div class="ui-grid-col-1"></div>

      <div class="ui-grid-col-1">
        <button type="button" pButton icon="fa-close" (click)="destroy(idx)" class="RedButton"></button>
      </div>

    </div>
  </div>
  <div class="Container100">
    <button type="button" pButton icon="fa-plus" (click)="addPartitionScenario()" label="Add Partition"></button>
  </div>
</div>
