.dashboard .colorbox .name {
  font-size: 48px;
  color: #ffffff;
  margin-top: 5px;
  line-height: 1;
  display: inline-block;
}

.dashboard .colorbox .fullname {
  color: #ffffff;
  font-size: 36px;
  margin-top: 10px;
  line-height: 1;
  display: inline-block;
}
