<div class="md-toolbar-tools">
  <button md-button alt="Home" class="md-icon-button" [routerLink]="['/Home']">
    <i md-icon>home</i>
  </button>
  <h2>
    <span>Detectino</span>
  </h2>
  <span flex></span>
  <button md-button alt="Menu" class="md-icon-button" (click)="m_open()">
    <i md-icon>menu</i>
  </button>
</div>
<div>
  <md-sidenav-container layout="row">
    <md-sidenav name="right" align="right">
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">Menu</h2>
      <button md-button alt="About" [routerLink]="['/About']" (click)="m_close()">
        About
      </button>
    </md-toolbar>
  </md-sidenav>
  </md-sidenav-container>
</div>
