.pin-text {
  font-size: 72px;
  line-height: 1;
  letter-spacing: 8px;
}

.pin-label {
  color: #999;
  font-size: 32px;
}

.pin-container {
  margin: auto;
  width: 240px;
  text-align: center;
}

.pin-key-container {
  margin: auto;
  text-align: center;
  max-width: 320px;
}

.pin-key-container .ui-g-4 {
  padding: 0.1em;
}

@media screen and (max-height: 480px) {
  .pin-button {
    /* margin-bottom: 10px; */
    width: 100%;
    height: 64px;
    font-size: 48px;
    padding: 0px;
  }
}
@media screen and (min-height: 481px) {
  .pin-button {
    /* margin-bottom: 10px; */
    width: 100%;
    height: 100px;
    font-size: 48px;
    padding: 0px;
  }
}
