<div class="dashboard">

  <div class="card" *ngIf="!pinSrv.getPin()">
    <dt-pindialog></dt-pindialog>
  </div>

  <div class="ui-g" *ngIf="pinSrv.getPin()">

    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-3" *ngFor="let partition of partitions">
      <div class="card colorbox colorbox-2">
        <div>
          <md-icon svgSrc="assets/images/security-home.svg" class="svg-material-icons"></md-icon>
        </div>
        <div>
          <!--span class="colorbox-name"></span-->
          <span class="fullname">{{partition.name}}</span>
        </div>
      </div>
    </div>

  </div>

</div>
