<div class="ui-g">

  <div class="ui-g-12" *ngIf="!displayDialog">
    <div class="card card-w-title">
      <p-dataTable [value]="partitions" [rows]="10" [paginator]="true" selectionMode="single" [(selection)]="selectedPartition"
        (onRowSelect)="onRowSelect($event)" [responsive]="true">
        <header>Partitions</header>
        <p-column field="name" header="Name" [sortable]="true"></p-column>
        <p-column field="entry_delay" header="Entry Delay" [sortable]="true"></p-column>
        <p-column field="exit_delay" header="Exit Delay" [sortable]="true"></p-column>
        <p-footer>
          <div class="ui-helper-clearfix">
            <button type="button" pButton icon="ui-icon-add" class="float_left" (click)="showDialogToAdd()" label="Add"></button>
          </div>
        </p-footer>
      </p-dataTable>
    </div>
  </div>

  <div class="ui-g-12 ui-fluid" *ngIf="displayDialog">
    <div class="card card-w-title">
      <div class="ui-grid ui-grid-responsive ui-grid-forms ui-grid-pad">
        <div class="ui-grid-row">
          <button type="button" pButton icon="ui-icon-arrow-back" (click)="refresh()" label="Edit Partition"></button>
        </div>
      </div>

      <div class="ui-g form-group">
        <div class="ui-g-12">
          <label for="acName">Name</label>
        </div>
        <div class="ui-g-12">
          <input pInputText id="acName" [(ngModel)]="partition.name" />
        </div>
        <div class="ui-g-12">
          <label for="acEDelay">Entry Delay</label>
        </div>
        <div class="ui-g-12">
          <p-spinner id="acEDelay" [(ngModel)]="partition.entry_delay" [min]="0" [max]="3600"></p-spinner>
        </div>
        <div class="ui-g-12">
          <label for="acExDelay">Exit Delay</label>
        </div>
        <div class="ui-g-12">
          <p-spinner id="acExDelay" [(ngModel)]="partition.exit_delay" [min]="0" [max]="3600"></p-spinner>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <button type="button" pButton icon="ui-icon-check" (click)="save()" label="Save" class="full_button green-btn"></button>
        </div>
        <div class="ui-g-12 ui-md-6">
          <button type="button" pButton icon="ui-icon-clear" (click)="destroy()" label="Delete" class="full_button red-btn"></button>
        </div>
      </div>
    </div>

  </div>

</div>
