<div class="ui-g">

  <div class="ui-g-12" *ngIf="!displayDialog">
    <div class="card card-w-title">
      <p-dataTable [value]="events" [rows]="10" [paginator]="true" selectionMode="single" [(selection)]="selectedEvent" (onRowSelect)="onRowSelect($event)"
        [responsive]="true">
        <header>Events</header>
        <p-column field="name" header="Name" [sortable]="true"></p-column>
        <p-column field="source" header="Source" [sortable]="true"></p-column>
        <p-column field="description" header="Description" [sortable]="false"></p-column>
        <p-footer>
          <div class="ui-helper-clearfix">
            <button type="button" pButton icon="ui-icon-add" class="float_left" (click)="showDialogToAdd()" label="Add"></button>
          </div>
        </p-footer>
      </p-dataTable>
    </div>
  </div>

  <div class="ui-g-12 ui-fluid" *ngIf="displayDialog">
    <div class="card card-w-title">
      <div class="ui-grid ui-grid-responsive ui-grid-forms ui-grid-pad">
        <div class="ui-grid-row">
          <button type="button" pButton icon="ui-icon-arrow-back" (click)="refresh()" label="Edit Event"></button>
        </div>
      </div>

      <div class="ui-g form-group">
        <div class="ui-g-12">
          <label for="acName">Name</label>
        </div>
        <div class="ui-g-12">
          <input pInputText id="acName" [(ngModel)]="event.name" />
        </div>

        <div class="ui-g-12">
          <label for="acDesc">Description</label>
        </div>
        <div class="ui-g-12">
          <input pInputText id="acDesc" [(ngModel)]="event.description" />
        </div>

        <div class="ui-g-12">
          <label for="acType">Source</label>
        </div>
        <div class="ui-g-12">
          <p-dropdown [(ngModel)]="event.source" [options]="sources" [autoWidth]="true">
          </p-dropdown>
        </div>

        <div class="ui-g-12" [ngSwitch]="event.source">
          <app-sensor-config *ngSwitchCase="'sensor'" [strconfig]="event.source_config" #sensorconfig> </app-sensor-config>
          <app-partition-config *ngSwitchCase="'partition'" [strconfig]="event.source_config" #partitionconfig> </app-partition-config>
          <app-arming-config *ngSwitchCase="'arming'" [strconfig]="event.source_config" #armingconfig> </app-arming-config>
        </div>

      </div>
    </div>

    <div class="card card-w-title">
      <h2 class="BigTopic">Associated Outputs</h2>
      <p-pickList [source]="outputs" [target]="selectedOutputs" sourceHeader="Available" targetHeader="Selected" [responsive]="true">
        <ng-template let-output pTemplate="item">
          <li class="ui-picklist-item ui-helper-clearfix picklist-entry">
            <div class="picklist-text">{{output.name}}</div>
          </li>
        </ng-template>
      </p-pickList>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <button type="button" pButton icon="ui-icon-check" (click)="save()" label="Save" class="full_button green-btn"></button>
        </div>
        <div class="ui-g-12 ui-md-6">
          <button type="button" pButton icon="ui-icon-clear" (click)="destroy()" label="Delete" class="full_button red-btn"></button>
        </div>
      </div>
    </div>

  </div>

</div>
