<div class="ui-g">

  <div class="ui-g-12" *ngIf="!displayDialog">
    <div class="card card-w-title">
      <p-dataTable [value]="users" [rows]="10" [paginator]="true" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="onRowSelect($event)"
        [responsive]="true">
        <header>Users</header>
        <p-column field="name" header="Name" [sortable]="true"></p-column>
        <p-column field="username" header="Username" [sortable]="true"></p-column>
        <p-column field="role" header="Role" [sortable]="true"></p-column>
        <p-column field="pin" header="Pin" [sortable]="false"></p-column>
        <p-footer>
          <div class="ui-helper-clearfix">
            <button type="button" class="float_left" pButton icon="ui-icon-add" (click)="showDialogToAdd()" label="Add"></button>
          </div>
        </p-footer>
      </p-dataTable>
    </div>
  </div>

  <div class="ui-g-12 ui-fluid" *ngIf="displayDialog">
    <div class="card card-w-title">
      <div class="ui-grid ui-grid-responsive ui-grid-forms ui-grid-pad">
        <div class="ui-grid-row">
          <button type="button" pButton icon="ui-icon-arrow-back" (click)="refresh()" label="Edit User"></button>
        </div>
      </div>
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <label for="acName">Name</label>
        </div>
        <div class="ui-g-12">
          <input pInputText id="acName" [(ngModel)]="user.name" />
        </div>

        <div class="ui-g-12">
          <label for="acUsername">Username</label>
        </div>
        <div class="ui-g-12">
          <input pInputText id="acUsername" [(ngModel)]="user.username" />
        </div>

        <div class="ui-g-12">
          <label for="acRole">Role</label>
        </div>
        <div class="ui-g-12">
          <p-dropdown [options]="roles" id="acRole" [(ngModel)]="user.role"></p-dropdown>
        </div>

        <div class="ui-g-12">
          <label for="acPin">Pin</label>
        </div>
        <div class="ui-g-12">
          <input pInputText id="acPin" [(ngModel)]="user.pin" />
        </div>

        <div class="ui-g-12">
          <label for="acPinExpire">Pin timeout (in milliseconds)</label>
        </div>
        <div class="ui-g-12">
          <p-spinner id="acPinExpire" [(ngModel)]="user.pin_expire" [min]="15000" [max]="120000"></p-spinner>
        </div>

        <div class="ui-g-12">
          <label for="acPassword">Password</label>
        </div>
        <div class="ui-g-12">
          <input pPassword type="password" id="acPassword" [(ngModel)]="user.password" />
        </div>
        <div class="ui-g-12" *ngIf="user.id">
          <button type="button" pButton (click)="invalidateSession(user)" label="Invalidate Sessions" class="yellow-btn"></button>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <button type="button" pButton icon="ui-icon-check" (click)="save()" label="Save" class="full_button green-btn"></button>
        </div>
        <div class="ui-g-12 ui-md-6">
          <button type="button" pButton icon="ui-icon-clear" (click)="destroy()" label="Delete" class="full_button red-btn"></button>
        </div>
      </div>
    </div>

  </div>

</div>
