<div class="dashboard">

  <div class="ui-g">

    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-4">
      <div class="card colorbox colorbox-emerg home-entry" (contextmenu)="stop_menu($event)" (touchstart)="start_emerg($event)"
        (touchend)="stop_emerg()" (touchcancel)="stop_emerg()" (mousedown)="start_emerg($event)" (mouseup)="stop_emerg()">
        <div class="">
          <i class="material-icons">error_outline</i>
        </div>
        <div class="">
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Emergency</span>
        </div>
      </div>
    </div>

    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-4">
      <div class="card colorbox colorbox-2  home-entry" (click)="openScenarios()">
        <div>
          <i class="material-icons">visibility</i>
        </div>
        <div>
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Scenarios</span>
        </div>
      </div>
    </div>

    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-4">
      <div class="card colorbox colorbox-2  home-entry" (click)="openIntrusion()">
        <div>
          <i class="material-icons">https</i>
        </div>
        <div>
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Intrusion</span>
        </div>
      </div>
    </div>

    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-4">
      <div class="card colorbox colorbox-1 home-entry" (click)="openSettings()">
        <div>
          <i class="material-icons">settings</i>
        </div>
        <div>
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Settings</span>
        </div>
      </div>
    </div>

    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-4">
      <div class="card colorbox colorbox-1 home-entry" (click)="openLogs()">
        <div>
          <i class="material-icons">event</i>
        </div>
        <div>
          <span class="fullname">Events</span>
        </div>
      </div>
    </div>

  </div>

</div>
