<div class="dashboard">

  <div class="ui-g">

    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <div class="ui-g card colorbox colorbox-1" (click)="openScenarios()">
        <div class="ui-g-4">
          <i class="material-icons">settings</i>
        </div>
        <div class="ui-g-8">
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Scenarios</span>
        </div>
      </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <div class="ui-g card colorbox colorbox-1" (click)="openSettings()">
        <div class="ui-g-4">
          <i class="material-icons">settings</i>
        </div>
        <div class="ui-g-8">
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Settings</span>
        </div>
      </div>
    </div>

  </div>

</div>
