<div class="dashboard">

  <div class="ui-g">

    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-3">
      <div class="card colorbox colorbox-5 home-entry" (click)="emergency()">
        <div class="">
          <i class="material-icons">error_outline</i>
        </div>
        <div class="">
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Emergency</span>
        </div>
      </div>
    </div>

    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-3">
      <div class="card colorbox colorbox-2  home-entry" (click)="openScenarios()">
        <div>
          <i class="material-icons">visibility</i>
        </div>
        <div>
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Scenarios</span>
        </div>
      </div>
    </div>

    <div class="ui-g-12 ui-sm-6 ui-md-4 ui-lg-3">
      <div class="card colorbox colorbox-1 home-entry" (click)="openSettings()">
        <div>
          <i class="material-icons">settings</i>
        </div>
        <div>
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Settings</span>
        </div>
      </div>
    </div>

  </div>

</div>