<div class="dashboard" *ngIf="!displaySettings">

  <div class="ui-g">

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g card colorbox colorbox-1" (click)="openScenarios()">
        <div class="ui-g-4">
          <i class="material-icons">settings</i>
        </div>
        <div class="ui-g-8">
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Scenarios</span>
        </div>
      </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g card colorbox colorbox-1" (click)="toggleSettings()">
        <div class="ui-g-4">
          <i class="material-icons">settings</i>
        </div>
        <div class="ui-g-8">
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Settings</span>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="dashboard" *ngIf="displaySettings">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-4" *ngFor="let link of links">
      <div class="ui-g card colorbox colorbox-1" (click)="openLink(link.path)">
        <div class="ui-g-4">
          <i class="material-icons">settings</i>
        </div>
        <div class="ui-g-8">
          <!--span class="colorbox-name"></span-->
          <span class="fullname">{{link.path}}</span>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <div class="ui-g card colorbox colorbox-1" (click)="toggleSettings()">
        <div class="ui-g-4">
          <i class="material-icons">arrow_back</i>
        </div>
        <div class="ui-g-8">
          <!--span class="colorbox-name"></span-->
          <span class="fullname">Back</span>
        </div>
      </div>
    </div>
  </div>
</div>
