<div class="ui-g">

  <div class="ui-g-12" *ngIf="!displayDialog">
    <div class="card card-w-title">
      <p-dataTable [value]="sensors" [rows]="10" [filterDelay]="500" (onLazyLoad)="lazyGrid.getLazy($event)" [lazy]="true" [totalRecords]="lazyGrid.getTotalRecords()"
        [rows]="lazyGrid.getPerPage()" [paginator]="true" selectionMode="single" [(selection)]="selectedSensor" (onRowSelect)="onRowSelect($event)"
        [responsive]="true">
        <header>Sensors</header>
        <p-column field="address" header="Address" [sortable]="true"></p-column>
        <p-column field="port" header="Port" [sortable]="true"></p-column>
        <p-column field="name" header="Name" [sortable]="true"></p-column>
        <p-column field="enabled" header="Enabled" [sortable]="false"></p-column>
        <p-footer>
          <div class="ui-helper-clearfix">
            <button type="button" class="float_left" pButton icon="ui-icon-add" (click)="showDialogToAdd()" label="Add"></button>
          </div>
        </p-footer>
      </p-dataTable>
    </div>
  </div>

  <div class="ui-g-12 ui-fluid" *ngIf="displayDialog">
    <div class="card card-w-title">
      <div class="ui-grid ui-grid-responsive ui-grid-forms ui-grid-pad">
        <div class="ui-grid-row">
          <button type="button" pButton icon="ui-icon-arrow-back" (click)="refresh()" label="Edit Sensor"></button>
        </div>
      </div>
      <div class="ui-g form-group">

        <div class="ui-g-12">
          <label for="acName">Name</label>
        </div>

        <div class="ui-g-12">
          <input pInputText id="acName" [(ngModel)]="sensor.name" />
        </div>

        <div class="ui-g-12">
          <label for="acAddr">Address</label>
        </div>
        <div class="ui-g-12">
          <input pInputText id="acAddr" [(ngModel)]="sensor.address" />
        </div>

        <div class="ui-g-12">
          <label for="acPort">Port</label>
        </div>
        <div class="ui-g-12">
          <input pInputText id="acPort" [(ngModel)]="sensor.port" />
        </div>

        <div class="ui-g-4">
          <p-checkbox id="acEntryDelay" [(ngModel)]="sensor.entry_delay" binary="true"></p-checkbox>
          <label for="acEntryDelay">Entry delay</label>
        </div>

        <div class="ui-g-4">
          <p-checkbox id="acExitDelay" [(ngModel)]="sensor.exit_delay" binary="true"></p-checkbox>
          <label for="acExitDelay">Exit delay</label>
        </div>

        <div class="ui-g-4"></div>

        <div class="ui-g-4">
          <p-checkbox id="acFull24h" [(ngModel)]="sensor.full24h" binary="true"></p-checkbox>
          <label for="acFull24h">24Hrs</label>
        </div>

        <div class="ui-g-4">
          <p-checkbox id="acInternal" [(ngModel)]="sensor.internal" binary="true"></p-checkbox>
          <label for="acInternal">Internal</label>
        </div>

        <div class="ui-g-4"></div>

        <div class="ui-g-12">
          <label for="acBalance">Balance Types:&nbsp;</label>
          <p-dropdown id="acBalance" [(ngModel)]="sensor.balance" [options]="balance_types" [autoWidth]="true">
          </p-dropdown>
        </div>

        <div class="ui-g-3">
          <div *ngIf="displayTh1">
            <label for="acTh1">Threshold 1</label>
            <p-spinner id="acTh1" [(ngModel)]="sensor.th1" [min]="0" [max]="1024"></p-spinner>
          </div>
        </div>

        <div class="ui-g-3">
          <div *ngIf="displayTh2">
            <label for="acTh2">Threshold 2</label>
            <p-spinner id="acTh2" [(ngModel)]="sensor.th2" [min]="0" [max]="1024"></p-spinner>
          </div>
        </div>

        <div class="ui-g-3">
          <div *ngIf="displayTh3">
            <label for="acTh3">Threshold 3</label>
            <p-spinner id="acTh3" [(ngModel)]="sensor.th3" [min]="0" [max]="1024"></p-spinner>
          </div>
        </div>

        <div class="ui-g-3">
          <div *ngIf="displayTh4">
            <label for="acTh4">Threshold 4</label>
            <p-spinner id="acTh4" [(ngModel)]="sensor.th4" [min]="0" [max]="1024"></p-spinner>
          </div>
        </div>

        <div class="ui-g-12">
          <p-inputSwitch id="acEnabled" [(ngModel)]="sensor.enabled" binary="true"></p-inputSwitch>
          <label for="acEnabled">Sensor enabled</label>
        </div>

      </div>
    </div>

    <div class="card card-w-title">
      <h2 class="BigTopic">Associated Partitions</h2>
      <p-pickList [source]="partitions" [target]="selectedPartitions" sourceHeader="Available" targetHeader="Selected" [responsive]="true">
        <ng-template let-partition pTemplate="item">
          <li class="ui-picklist-item ui-helper-clearfix picklist-entry">
            <div class="picklist-text">{{partition.name}}</div>
          </li>
        </ng-template>
      </p-pickList>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <button type="button" pButton icon="ui-icon-check" (click)="save()" label="Save" class="full_button green-btn"></button>
        </div>
        <div class="ui-g-12 ui-md-6">
          <button type="button" pButton icon="ui-icon-clear" (click)="destroy()" label="Delete" class="full_button red-btn"></button>
        </div>
      </div>
    </div>

  </div>
</div>
