<div class="layout-wrapper">
  <!-- layout-compact" -->
  <div class="layout-container">
    <div class="topbar clearfix" *ngIf="auth.authenticated()">
      <div class="topbar-left">
        <a (click)="router.navigate(['/home'])">
          <i class="material-icons">home</i>
        </a>
      </div>
      <div class="topbar-center">
        <div class="time">{{time}}</div>
      </div>
      <div class="topbar-right">
        <a (click)="logout()">
          <i class="material-icons dt-topbar-icons">lock_open</i>
        </a>
        <a (click)="pinSrv.resetPin()" *ngIf="pinSrv.getPin()">
          <i class="material-icons dt-topbar-icons">warning</i>
        </a>
      </div>
    </div>

    <div class="layout-main">
      <p-messages [value]="notifications" *ngIf="auth.authenticated()"></p-messages>
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
