@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

body {
  margin:0px;
  height:100%;
  overflow-x:hidden;
  overflow-y:auto;
  font-family: 'Roboto', "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight:normal;
  color:#404C51
}

.topbar-left {
  width: auto !important;
}

.topbar-left i {
  font-size: 36px;
  line-height: 1;
  color: #ffffff;
}

.topbar-center {
  float: left;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  box-sizing: border-box;
}

.topbar-center .time {
  display: inline-block;
  color: white;
  font-size: 20px;
  line-height: 1;
}

.dashboard .colorbox .name {
  font-size: 48px;
  color: #ffffff;
  margin-top: 5px;
  line-height: 1;
  display: inline-block;
}

.dashboard .colorbox .fullname {
  color: #ffffff;
  font-size: 36px;
  margin-top: 10px;
  line-height: 1;
  display: inline-block;
  text-transform: capitalize;
}

.topbar-right {
  text-align: right;
  padding: 20px !important;
  z-index: -9999;
}

.dt-topbar-icons {
  color: #ffffff;
  font-size: 36px;
  height: 36px;
  line-height: 1;
}
