<p-toolbar>
   <div class="ui-toolbar-group-left">
     <button icon="fa-plus" pButton type="button" label="Index" (click)="router.navigate(['/home'])"></button>
     <button pButton type="button" label="Home" (click)="router.navigate(['/home'])"></button>
     <button pButton type="button" label="Users" (click)="router.navigate(['/users'])" *ngIf="auth.authenticated()"></button>
     <button pButton type="button" label="Users Nocheck" (click)="router.navigate(['/users'])"></button>
     <button pButton type="button" label="Login" (click)="router.navigate(['/login'])" *ngIf="!auth.authenticated()"></button>
     <button pButton type="button" label="Logout" (click)="auth.logout()" *ngIf="auth.authenticated()"></button>
   </div>
</p-toolbar>

<router-outlet></router-outlet>


